  openapi: 3.1.0
  info:
    title: Video Anomaly Detection
    description: |-
      This API exposes endpoints for processing videos to detect anomalous content.
      Anomaly is defined as any content in the video that deviates from normal video patterns.
      The technology outputs a textual result ("anomalous" / "normal") and a confidence score.
      The API supports videos from this list of platforms: [supported platforms](https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md).
  
    version: 1.0.0
  servers:
    - url: http://[SERVICE ADDRESS]/
  tags:
    - name: vad
      description: Video Anomaly Detection
  paths:
    /vad/submit:
      post:
        tags:
          - vad
        summary: Upload a video
        description: Upload a video to the queue for processing
        operationId: uploadVideo
        requestBody:
          description: Upload a video to be processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  video_url:
                    type: string
                    format: uri
                    description: URL of the input video to be processed.
              example:
                video_url: https://www.youtube.com/watch?v=6cYyAR1
          required: true
        responses:
          '200':
            description: Request accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: A message stating the outcome of the request
                    request_id:
                      type: string
                      description: The id associated to the uploaded video, this can be used to check the processing status or the final result
                example:
                  message: "The video has been correctly submitted and queued."
                  request_id: 6e6bc4e49dd477ebc98ef4046c067b5f
          '400':
            description: Bad request
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: A message stating the outcome of the request
                example:
                  message: "The request has been wrongly formatted."
          '404':
            description: Broken url
            content: 
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: A message stating the outcome of the request
                example:
                  message: "The input URL is broken."
          '409':
            description: Conflict 
            content: 
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: A message stating the outcome of the request
                example:
                  message: "The video is already in the queue."
    /vad/status/{request_id}:
      get:
        tags:
          - vad
        summary: Check processing status of a video
        description: Check the status of a submitted video
        operationId: status
        parameters:
          - name: request_id
            in: path
            description: ID of video to check
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Successful operation. Please check the 'status' field for its possible values. This field may have the following values "processing", "waiting_to_be_processed", "max_length_exceeded", "video_processing_failed", "video_download_failed", "completed".
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
                      enum: [
                        "processing", "waiting_to_be_processed", "max_length_exceeded", "video_processing_failed", "video_download_failed", "completed"
                      ]
                example:
                  status: processing
          '400':
            description: Invalid id value
    /vad/result/{request_id}:
      get:
        tags:
          - vad
        summary: Get the results of a processed video
        description: Get the results of a processed video, the processing has to be completed, thus the status has to be checked first. When processed successfully, the output has two fields: "result" and "confidence_score". The results field may have "anomalous" or "normal" as values, while the confidence score field is a value in the range [0,1] representing the confidence of the answer.
        operationId: getResults
        parameters:
          - name: request_id
            in: path
            description: ID of video to check
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Successful operation. The 'status' field may have the following values "completed_successfully", "completed_failed", "processing". The 'score' field will be populated only if 'status' is "completed_successfully".
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
                      enum: ["completed_successfully", "completed_failed", "processing"]
                    result:
                      type: string
                      enum: ["anomalous", "normal"]
                    confidence_score:
                      type: number
                      format: float
                      minimum: 0
                      maximum: 1
                  example:
                    status: completed_successfully
                    result: anomalous
                    confidence_score: 0.76
          '400':
            description: Invalid id value
